body {
    padding: 1%;
    background-color: #4D5D53;
}

h1 {
    color: #4D5D53;
    background-color: #FEBE10;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    color: #FEBE10;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FEBE10;
}

h5, h6 {
    text-align: center;
    color: #FEBE10;
    font-family: 'Brush Script MT', cursive;
}


.inputFields {
    color: #FEBE10;
    align-items: center;
    text-align: center;
    /* table-layout: fixed; */
}

td {
    width: 19%;
    align-items: center;
}

.employeeTableTitle {
    /* text-align: center; */
    /* table-layout: auto; */
    /* width: auto; */
    margin-right: 30%;
    margin-left: 30%;
}

.button {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#infoTable {
    width: 700px;
    /* border-collapse: collapse; */
    /* border-radius: 15px; */
}

/* isn't working to get table width static, it possible css only affects html elements that were there at page load? */
.wideblock td{
    width: 120px;
}

td {
    border: 1px solid darkgray;
    margin: 1px;
    padding: 4px;
    /* width: 120px; */
}

#totalCost {
    background-color: #4D5D53;
    color: #FEBE10;
    text-align: center;
}

#totalCostRed {
    background-color: red;
    color: #FEBE10;
    text-align: center;
}

.employeeTable {
    color: #4D5D53;
    background-color:#FEBE10;
    display: inline-block;
}
/*  see css notes in shawl repo
.class
#id
* select all
element like div

 CONTENT
 PADDING
 BORDER
 MARGIN
*/