body {
    padding: 1%;
}

h1 {
    font-style: oblique;
    color: blanchedalmond;
    background-color: gray;
}

.button {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#infoTable {
    width: 700px;
    /* border-collapse: collapse; */
    /* border-radius: 15px; */
}

/* isn't working to get table width static, it possible css only affects html elements that were there at page load? */
.wideblock td{
    width: 120px;
}

td {
    border: 1px solid darkgray;
    margin: 1px;
    padding: 4px;
    /* width: 120px; */
}

#totalCost {
    background-color: green;
    color: azure;
}

#totalCostRed {
    background-color: red;
    color: azure;
}

/*  see css notes in shawl repo
.class
#id
* select all
element like div

 CONTENT
 PADDING
 BORDER
 MARGIN
*/